
<table class="table text-justify-left">
    <!-- <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead> -->
    <tbody>
        <tr class="table">
            <th scope="row"></th>
            <td>Order ID  #{{order.id}}</td>
            <td>Order Total {{order.money | currency}}</td>
            <app-item-by-order *ngFor="let item of order.orderitems" [item]="item"></app-item-by-order>   
        </tr>
    </tbody>
</table>

