<ng-container>
    <div class="container">
        <h2>Login</h2>
    <form (submit)="login(loginForm.value)" #loginForm="ngForm">
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" class="form-control" id="username" name="username" ngModel>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" class="form-control" id="password" name="password" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Click to login</button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </form>
    </div>
</ng-container>