<ul class="list-group-item">
    <li>Order ID: {{order.id}}</li>
    <li>Order Total: {{order.money | currency}}</li>
    <li >Order items: 
        <app-item-child *ngFor="let item of order.orderitems" [item]="item"></app-item-child>
    </li>
</ul>
