<div class="col mb-5">
    <div class="card h-100">
        <br>
        <!-- Product image-->
        <img class="card-img-top" [src]="item.url" [alt]="item.url" />
        <!-- Product details-->
        <div class="card-body p-2">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{item.item}}</h5>
                <!-- Product price-->
                {{item.price | currency }}
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
            <span class="badge" [ngClass]="[item.status === 'available'? 'bg-success' : '']">{{ item.status}}</span>
            </div>
            <div *ngIf="item.status === 'available'" class="text-center mt-2"><button class="btn btn-outline-dark mt-auto" (click)=addtoCart()>Add to Cart</button></div>
            <div *ngIf="item.status === 'not available'" class="text-center mt-2"><a class="btn btn-outline-dark mt-auto" aria-disabled="true">Out of Stock</a></div>
            <!-- <div *ngIf="item.status === 'available'" class="text-center mt-2"><button class="btn btn-outline-dark mt-auto" (click)=addtoCart()>Edit the item</button></div> -->
        </div>
    </div>
</div>

