<header class="bg-dark py-1">
    <div class="px-4 px-lg-5 my-1">
        <div class="text-center text-white">
            <!-- <h1 class="display-4 fw-bolder">Picture</h1>
            <p class="lead fw-normal text-white-50 mb-0">Picture</p> -->
            
            <div class="row">
                <div class="col-sm">
                    <img src="https://i.imgur.com/bKhgsP9.jpg" style="width:550px;height:auto;"/>
                </div>
                <div class="col-sm">
                    <img src="https://i.imgur.com/4Gtw1bA.jpg" style="width:550px;height:auto;"/>
                </div>
                <div class="col-sm">
                    <img src="https://i.imgur.com/bKhgsP9.jpg" style="width:550px;height:auto;"/>
                </div>
              </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row mt-2 justify-content-end">
      <div class="col-md-12">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              Sort By
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><button class="dropdown-item" type="button" (click)="SortbyPrice()">Price</button></li>
              <li><button class="dropdown-item" type="button" (click)="SortbyBrand()">Brand</button></li>
            </ul>
          </div>
      </div>
    </div>
  </div>

<ng-container *ngIf="(productState$ |async) as state" [ngSwitch]="state.appState">
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <ng-container *ngSwitchCase="'APP_ERROR'">{{ state.error | json}}</ng-container>
        <ng-container *ngSwitchCase="'APP_LOADING'">
            <div class="d-flex justify-content-center mt-4">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">---Loading---</span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'APP_LOADED'">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <app-item *ngFor="let item of productList; let i =index" [item]="item"></app-item>
        </div>
        </ng-container>
        <div class="container px-4 px-lg-5 mt-5 justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        <a class="page-link"  aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" >1</a></li>
                    <li class="page-item"><a class="page-link" >2</a></li>
                    <li class="page-item"><a class="page-link" >...</a></li>
                    <li class="page-item"><a class="page-link" >74</a></li>
                    <li class="page-item"><a class="page-link" >75</a></li>
                    <li class="page-item">
                        <a class="page-link"  aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
</section>
</ng-container>

