<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
      <span class="navbar-brand" >Whisky World</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop Whisky</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown" routerLinkActive="ac tive">
                      <li><a class="dropdown-item" [routerLink]="['/product']" >All Products</a></li>
                  </ul>
              </li>
              <li class="nav-item"><button class="btn btn-outline-dark" type="submit">
                <span routerLink="/login" routerLinkActive="ac tive">Login</span>
            </button></li>
            <li class="nav-item"><button class="btn btn-outline-dark" type="submit">
              <span routerLink="/history" routerLinkActive="ac tive">Orders</span>
          </button></li>
              <li class="nav-item"><button class="btn btn-outline-dark" type="submit">
                <span [routerLink]="['/cart']" routerLinkActive="ac tive" >Cart</span>
                <span class="badge bg-dark text-white ms-1 rounded-pill">{{totalItem}}</span>
            </button></li>
            <li *ngIf="admin == true" class="nav-item"><button class="btn btn-outline-dark" type="submit">
              <span routerLink="/admin" routerLinkActive="ac tive">Admin</span>
          </button></li>
          </ul>
          <!-- <form class="d-flex">
              <button class="btn btn-outline-dark" type="submit">
                  <span routerLink="/login" routerLinkActive="ac tive">Login</span>
              </button>
              <button class="btn btn-outline-dark" type="submit">
                  <span [routerLink]="['/cart']" routerLinkActive="ac tive">Cart</span>
                  <span class="badge bg-dark text-white ms-1 rounded-pill">{{totalItem}}</span>
              </button>
          </form> -->
      </div>
  </div>
</nav>
<div class="row">
  <router-outlet></router-outlet>
</div>
<!-- <footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Footer</p></div>
</footer> -->