<section class="h-100 h-custom" style="background-color: #161616;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <!-- <h6 class="mb-0 text-muted">3 items</h6> -->
                    </div>
                    <hr  class="my-4">
  
                    <div *ngFor="let item of newproducts; let i = index" class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                        [src]="item.url" [alt]="item.url"
                          class="img-fluid rounded-3">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">{{item.brand}}</h6>
                        <h6 class="text-black mb-0">{{ item.item}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <input id="q" min="0" name="quantity" [(ngModel)]="item.quantity" value={{item.quantity}} type="number" class="form-control"/>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">{{ item.price*item.quantity | currency}}</h6>
                      </div>
                      <button type="button" class="btn btn-light" (click)="remove(item.id)">remove</button>
                    </div>

                    
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-4">
                      <!-- <h5 class="text">Subtotal</h5>
                      <h5>{{grandTotal | currency}}</h5> -->
                    </div>
  
                    <h5 class="text mb-3">Shipping Address</h5>
  
                    <div class="mb-4 pb-2">
                      <input type="text" [(ngModel)]="address">
                    </div>
  
                    <!-- <h5 class="text-uppercase mb-3">Give code</h5>
  
                    <div class="mb-5">
                      <div class="form-outline">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea2">Enter your code</label>
                      </div>
                    </div> -->
  
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>{{grandTotal | currency}}</h5>
                    </div>
  
                    <button type="button" class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark" (click)="placeOrder()">Place Order</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>