<!-- <table class="table table-striped text-justify-left">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <tr class="table table-striped">
            <th scope="row"></th>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.userRole[0].type}}</td>
            <td><button type="button" class="btn btn-secondary" (click)="getOrdersbyUser()">Get Orders</button></td>
        </tr>
    </tbody>
</table> -->

<div class="row">
  <div class="col">{{user.id}}</div>
  <div class="col">{{user.username}}</div>
  <div class="col">{{user.userRole[0].type}}</div>
  <div class="col"><button type="button" class="btn btn-secondary" (click)="getOrdersbyUser()">Get Orders</button></div>
</div>

<div *ngIf="clickController == true" class="container">
    <app-order-by-user *ngFor="let order of orderById" [order]="order"></app-order-by-user>
</div>
