<div class="col mb-5">
    <div class="card h-100">
        <form [formGroup]="myFormGroup">
        <br>
        <!-- Product image-->
        <img class="card-img-top" [src]="item.url" [alt]="item.url" />
        <!-- Product details-->
        <div class="card-body p-2">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{item.item}}</h5>
                <!-- Product price-->
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" formControlName="price" >
                </div>
                
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" class="form-control" id="status" formControlName="status">
                </div>
            </div>
            <div class="text-center mt-2"><button class="btn btn-outline-dark mt-auto" (click)=edit()>Edit</button></div>
        </div>
    </form>
    </div>
</div>


