<div class="card shadow-0 border mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img [src]="item.item.url"
            class="img-fluid" >
        </div>
        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
          <p class="text-muted mb-0">{{item.item.name}}</p>
        </div>
        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
          <p class="text-muted mb-0 small">{{item.item.brand}}</p>
        </div>
        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
          <p class="text-muted mb-0 small">{{item.item.size}}</p>
        </div>
        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
          <p class="text-muted mb-0 small">Qty: {{item.num}}</p>
        </div>
        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
          <p class="text-muted mb-0 small">{{item.item.price * item.num | currency}}</p>
        </div>
      </div>
      <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
    </div>
  </div>
