<div class="container">
    <div class="row mt-2 justify-content-end">
      <div class="col-md-12">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              Admin Options
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><button class="dropdown-item" type="button" (click)="editProduct()">Edit Product </button></li>
              <li><button class="dropdown-item" type="button" (click)="addProduct()">Add Product </button></li>
              <li><button class="dropdown-item" type="button" (click)="getUsers()">Users</button></li>
              <li><button class="dropdown-item" type="button" (click)="getOrders()">Orders</button></li>
            </ul>
          </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <table *ngIf="ordertableController == true"  class="table table-striped">
      <thead>
        <tr>
          <th scope="col">
            
<div class="row">
  <div class="col">id</div>
  <div class="col">username</div>
  <div class="col">address</div>
  <div class="col">order total</div>
</div>
          </th>
          <!-- <th scope="col">username</th>
          <th scope="col">address</th>
          <th scope="col">order total</th> -->
        </tr>
      </thead>
        <tbody>
          <app-order-detail  *ngFor="let order of orderResponse" [order]="order"></app-order-detail>   
        </tbody>
      </table>
  </div>

  <div *ngIf="addProductController == true" class="container">
    <h3>Add Product</h3>
    <form [formGroup]="myFormGroup">
        <div class="form-group">
            <label for="item">item:</label>
            <input type="text" class="form-control" id="item" formControlName="item">
        </div>
        <div class="form-group">
            <label for="brand">brand:</label>
            <input type="text" class="form-control" id="brand" formControlName="brand">
        </div>
        <div class="form-group">
          <label for="category">category:</label>
          <input type="text" class="form-control" id="category" formControlName="category">
      </div>
      <div class="form-group">
        <label for="type">type:</label>
        <input type="text" class="form-control" id="type" formControlName="type">
    </div>
    <div class="form-group">
      <label for="country">country:</label>
      <input type="text" class="form-control" id="country" formControlName="country">
  </div>
  <div class="form-group">
    <label for="size">size:</label>
    <input type="text" class="form-control" id="size" formControlName="size">
</div>
<div class="form-group">
  <label for="region">region:</label>
  <input type="text" class="form-control" id="region" formControlName="region">
</div>
<div class="form-group">
  <label for="status">status:</label>
  <input type="text" class="form-control" id="status" formControlName="status">
</div>
<div class="form-group">
  <label for="url">url:</label>
  <input type="text" class="form-control" id="url" formControlName="url">
</div>
<div class="form-group">
  <label for="price">price:</label>
  <input type="text" class="form-control" id="price" formControlName="price">
</div>
<div class="form-group">
  <label for="taste">taste:</label>
  <input type="text" class="form-control" id="taste" formControlName="taste">
</div>
        <button type="button" class="btn btn-secondary" (click)="onSubmit()">Submit</button>
    </form>
</div>


<div class="container text-center">
  <table *ngIf="getUserController == true"  class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          <div class="row">
            <div class="col">id</div>
            <div class="col">username</div>
            <div class="col">Role</div>
            <div class="col">Order</div>
          </div>
                    </th>
      </tr>
    </thead>
      <tbody>
        <app-user-detail  *ngFor="let user of userResponse" [user] = "user"></app-user-detail>   
      </tbody>
    </table>
</div>


  