
<div class="row">
  <div class="col">{{order.id}}</div>
  <div class="col">{{order.user.username}}</div>
  <div class="col">{{order.address}}</div>
  <div class="col">{{order.money | currency}}</div>
</div>