.gradient-custom {
    /* fallback for old browsers */
    background: #bbf5f7;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top left, rgb(243, 247, 248), rgb(237, 242, 243));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top left, rgb(246, 250, 250), rgb(243, 247, 246))
    }