<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
              <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #1b1d1d;">{{orders.user.username}}</span>!</h5>
            </div>
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0" style="color: #1b1d1d;">Receipt</p>
                <p class="small text-muted mb-0">Order number: {{orders.id}}</p>
              </div>
              <app-checkout-child *ngFor="let item of orders.orderitems" [item] = "item"></app-checkout-child>
  
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Order Details</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> {{orders.money | currency}}</p>
              </div>
            </div>
            <div class="card-footer border-0 px-4 py-5"
              style="background-color: rgb(77, 81, 82); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                paid: <span class="h2 mb-0 ms-2">{{orders.money | currency}}</span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
